.containerInfo {
    background: white;
    box-shadow: rgba(48, 48, 48, 0.1) 0px 0.25rem 0.5rem;
}

.titleHotel {
    color: orange;
    /* color: rgb(128, 15, 113); */
    font-size: 28px;
    font-weight: bold;
}


.descriptionHotel {

    font-size: 16px;
}

.coutryCityHotel,
.priceHotel {
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.buttonCardHotel {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff !important;
    text-decoration: none;
    background-color: orange !important;
    width: 120px;

}

.buttonCardHotel:hover {
    color: orange;
    border: 1px solid orange;
}